<mat-card class = "tp-card mat-elevation-z8">
    <mat-card-header>
       <mat-card-title>
          <a *ngIf="!storyHasNoLink(story)" [href]="story.url" target="_blank">{{ story?.title }}</a>
          <h2 *ngIf="storyHasNoLink(story)">{{ story?.title }}</h2>
         </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <div>
         <label for="story">author: </label>
         <span name="story">{{ story?.by }}</span>
      </div> 
      <div>
         <label for="time">date: </label>
         <span name="time">{{ convertUnixDateToFormattedDate(story?.time) }}</span>
      </div>
      <!-- Show the story's text if there is no associated story url -->
       <div *ngIf="storyHasNoLink(story)" [innerHTML]="story?.text"></div>
    </mat-card-content>
  </mat-card>
